<!--
    Sets up the world for TACO, that is the hardware and drivers.
    When simulated sets up simulators for missing real world components.
-->
<launch>
  <group if="$(optenv SIMULATED 0)">
    <!-- Run a simulated arm and hand in Gazebo -->
    <include file="$(find sr_hand)/launch/gazebo/loaders/empty_world.launch" />
    <include file="$(find sr_taco_launch)/launch/gazebo_arm_and_hand.launch" />
    <node pkg="topic_tools" type="mux" name="remap_gazebo_js" args="/joint_states /gazebo/joint_states" output="screen"/>
    <!-- Shadow arm and hand drivers -->
    <include file="$(find sr_hand)/launch/sr_arm_and_hand.launch" />
  </group>
  <group unless="$(optenv SIMULATED 0)">
    <!-- Start nodes to run real hardware --> 
    <!-- TODO: arm -->
    <!-- TODO: hand or does that need to be seperate for root access -->
    <include file="$(find sr_taco_launch)/launch/hardware.launch" />
  </group>
  


  <!--Load the kinect+base description and launch the model in gazebo if needed -->
  <group if="$(optenv SIMULATED_KINECT 0)">
    <param name="kinect_description" command="$(find xacro)/xacro.py '$(find sr_taco_launch)/other/base_with_kinect.urdf.xacro'" />
  	<node name="spawn_kinect" pkg="gazebo" type="spawn_model" args="-urdf -param kinect_description -x 0.5 -y 2.0 -z 0.01 -model kinect_model " respawn="false" output="screen" />  <!--Publish the tf for the kinect+base chain (they are static tfs) -->
 
    <node pkg="robot_state_publisher" type="state_publisher" name="kinect_state_publisher" >
      <remap from="robot_description" to="kinect_description" />
      <param name="publish_frequency" type="double" value="20.0" />
    </node>

    <!-- publishes fixed transform: to link the world to the kinect (kinect_base+kinect) -->
    <node pkg="tf" type="static_transform_publisher" name="fixed_frame_kinect" args="0.5 2.0 0 0 0 0 world /desk2_support 100" />
  </group>
  <group unless="$(optenv SIMULATED_KINECT 0)">
    <!-- publishes fixed transform: to link the world to the kinect (kinect_base+kinect) -->
    <include file="$(find sr_taco_launch)/launch/static_tf_real_kinect.launch" />
  </group>
  


</launch>
