<launch>
    <!-- Start the TACO sensor -->
    <include file="$(find taco_sensor)/launch/taco.launch" />

    <!-- Tracker using TACO sensor feed as input cloud -->
    <node name="sr_pcl_tracker" pkg="sr_pcl_tracking" type="sr_pcl_tracker">
        <remap from="~input/points" to="/taco_sensor/combined" />
        <param name="downsampling_grid_size" value="0.005" />
        <param name="filter_z_max" value="2.0" />
    </node>
</launch>
